IMAP_URL=imap.provider.com
IMAP_USERNAME=user@provider.net
IMAP_PASSWORD=randompassword
IMAP_FOLDER=Paperless
SMTP_URL=smtp.provider.com
MAIL_SENDER=user+paperless@provider.net
MAIL_DESTINATION=user+paperless@provider.net
INTER_RUN_INTERVAL=600
HOSTS=127.0.0.1 tracking.paypal.com
WKHTMLTOPDF_OPTIONS={"load-media-error-handling":"ignore"}